<nav>
        <a href="/">Home</a> 
        <a href="{% url "edit_student" %}">EDIT PROFILE</a> 
        <a href="{% url 'student_result' %}">VIEW RESULTS</a>
        <a href="{% url 'student_attendance' %}">VIEW ATTENDANCE</a>
        <a href="{% url 'student_notice' %}">NOTICE BOARD</a>
        <a href="{% url 'contact_faculty' %}">CONTACT FACULTY</a>
        <a href="{% url 'student_logout' %}">LOGOUT</a>
</nav>

<table>
    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Action</th>
    </tr>
    {%for f in faculty_list%}
    <tr>
        <td>{{f.name}}</td>
        <td>{{f.subject}}</td>
        <td><a href="{%url 'send_message' f.id%}">Send Message</a></td>
    </tr>
    {%endfor%}
</table>